<!doctype html>
<html>
<meta charset="utf-8">
<body>
{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock %}
{% body %}
    <h1>Listado de contactos</h1>
     {% for contacto in contactos %}
   {{ include ('datos_contacto.html.twig', {'contacto': contacto}) }}

    {% endfor %}
    {% else %}
    <p>No se han encontrado contactos</p>
    {% endif %}
    {% endblock %}
</body>
</html>